@font-face {
    font-family: 'font1';
    src: url('assets/myfont.woff') format('woff'),
        url('assets/myfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #b4dee5;
    padding: 0;
    margin: 0;
    height: 100vh; /* Pour que le body prenne toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

canvas {
    margin: 0; /* Supprime les marges */
    display: block; /* S'assure que le canvas est un élément de bloc */
}
